* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container:before {
	margin: 0 auto;
	max-width: 100%;
	position: relative;
	z-index: 100;
}
.container {
	width: 100%;
	margin: 0 auto;
	max-width: 1260px;
	position: relative;
	overflow: hidden;
	z-index: 101;
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}
@media (min-width: 576px) {
	max-width: 540px;
}
@media (min-width: 768px) {
	max-width: 720px;
}
@media (min-width: 992px) {
	max-width: 960px;
}
@media (min-width: 1200px) {
	max-width: 1140px;
}
.row {
	position: relative;
	display: block;
	width: 100%;
	padding: 10px 15px;
	margin: 0 auto;
	z-index: 102;
	overflow: hidden;
}
.clearfix:after {
	clear: both;
}
.pull-right {
	float: right;
}
.pull-left {
	float: left;
}
.show {
	display: block;
}
.hide, .hidden {
	display: none;
}
.invisible {
	visibility: hidden;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
	display: block;
	overflow: hidden;
}
.col-12 {
	width: 100%;
}
.col-11 {
	width: 91.66666667%;
}
.col-10 {
	width: 83.33333333%;
}
.col-9 {
	width: 75%;
}
.col-8 {
	width: 66.66666667%;
}
.col-7 {
	width: 58.33333333%;
}
.col-6 {
	width: 50%;
}
.col-5 {
	width: 41.66666667%;
}
.col-4 {
	width: 33.33333333%;
}
.col-3 {
	width: 25%;
}
.col-2 {
	width: 16.66666667%;
}
.col-1 {
	width: 8.33333333%;
}
.col-auto {
	width: auto;
}
.col {
	width: 100%;
	&-sm-auto {
		width: auto;
	}
	&-sm-1 {
		width: 8.333333%;
		&0 {
			width: 83.333333%;
		}
		&1 {
			width: 91.666667%;
		}
		&2 {
			width: 100%;
		}
	}
	&-sm-2 {
		width: 16.666667%;
	}
	&-sm-3 {
		width: 25%;
	}
	&-sm-4 {
		width: 33.333333%;
	}
	&-sm-5 {
		width: 41.666667%;
	}
	&-sm-6 {
		width: 50%;
	}
	&-sm-7 {
		width: 58.333333%;
	}
	&-sm-8 {
		width: 66.666667%;
	}
	&-sm-9 {
		width: 75%;
	}
	&-md-11 {
		width: 91.66666667%;
	}
	&-md-10 {
		width: 83.33333333%;
	}
	&-md-9 {
		width: 75%;
	}
	&-md-8 {
		width: 66.66666667%;
	}
	&-md-7 {
		width: 58.33333333%;
	}
	&-md-6 {
		width: 50%;
	}
	&-md-5 {
		width: 41.66666667%;
	}
	&-md-4 {
		width: 33.33333333%;
	}
	&-md-3 {
		width: 25%;
	}
	&-md-2 {
		width: 16.66666667%;
	}
	&-md-1 {
		width: 8.33333333%;
	}
	&-lg-11 {
		width: 91.66666667%;
	}
	&-lg-10 {
		width: 83.33333333%;
	}
	&-lg-9 {
		width: 75%;
	}
	&-lg-8 {
		width: 66.66666667%;
	}
	&-lg-7 {
		width: 58.33333333%;
	}
	&-lg-6 {
		width: 50%;
	}
	&-lg-5 {
		width: 41.66666667%;
	}
	&-lg-4 {
		width: 33.33333333%;
	}
	&-lg-3 {
		width: 25%;
	}
	&-lg-2 {
		width: 16.66666667%;
	}
	&-lg-1 {
		width: 8.33333333%;
	}
	&-xl-11 {
		width: 91.66666667%;
	}
	&-xl-10 {
		width: 83.33333333%;
	}
	&-xl-9 {
		width: 75%;
	}
	&-xl-8 {
		width: 66.66666667%;
	}
	&-xl-7 {
		width: 58.33333333%;
	}
	&-xl-6 {
		width: 50%;
	}
	&-xl-5 {
		width: 41.66666667%;
	}
	&-xl-4 {
		width: 33.33333333%;
	}
	&-xl-3 {
		width: 25%;
	}
	&-xl-2 {
		width: 16.66666667%;
	}
	&-xl-1 {
		width: 8.33333333%;
	}
}
@media (min-width: 576px) {
	width: 100%;
}
@media (min-width: 768px) {
	width: 100%;
}
@media (min-width: 992px) {
	width: 100%;
}
@media (min-width:1200px) {
	width: 100%;
}
